<h1 class="text-center">Vendors</h1>

<div class="list-container">
  <ul class="list-group">
    <% @vendors.each do |vendor| %>
      <li class="list-group-item">
        <strong><%= vendor.name %></strong> - <%= vendor.contact_info %>
        <br>
        <%= link_to "View Products", vendor_path(vendor), class: "view-button" %>
      </li>
    <% end %>
  </ul>
</div>
